@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header {
    font-size: 20px;
    background-image: url('../assests/header.jpg');
    height: 150px;
    background-position: center;
    object-fit: cover;
    padding: 2rem 1rem
}

.header .title {
    font-size: 34px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 5rem;
}

.header .time{
    font-size: 18px;
    color: #c7ccd1;
}

.sub-header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #818182;
    font-size: 0.875rem;
}

.tasks-container{
    padding: 3rem 1rem;
    overflow-y: scroll;
}
.task{
    border: 1px solid #2BBCF0;
    border-radius: 12px;
    padding: 1rem;
    margin-bottom: 0.5rem;
}
.task.completed{
    opacity: 0.5;
}
.task .top{
    margin-bottom: 0.5rem;
}
.task .top,
.task .bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.task .task-title{
    font-weight: 500;
}
.task .task-desc,
.task .task-time{
    color: lightslategray;
}
.task .icons{
    display: flex;
    align-items: center;
    gap: 1rem
}
.task button.delete{
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
}
.task button.delete svg{
    fill: #2BBCF0;
    width: 24px;
    height: 24px;
}
.footer{
    z-index: 999;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #818182;
}

.total-tasks {
    color: #818182;
    font-size: 0.875rem;
}

button.add {
    outline: none;
    border: none;
    background-color: #2BBCF0;
    box-shadow: 0 0 15px #9ad2e7;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

button.add svg {
    fill: #fff;
    width: 30px !important;
    height: 30px !important;
}