@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header {
    padding-top: 50px;
    padding-right: 100;
    color: white;
    font-size: 20px;
    width: 100%;

    background-image: url('../assests/header.jpg');
    height: 200px;
    background-position: center;
    object-fit: cover;
    font-family: 'Work Sans', ;

}

.title {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 5rem;
    padding-left: 1rem;
    font-size: 30px;
    font-weight: 400;


}

#time {
    display: flex;
    justify-content: flex-start;
    padding-left: 1rem;



}

.sub-header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #818182;
    font-size: 0.875rem;
}

#box {
    width: 100%;
    height: 100px;

    border: 5px solid gray;
    margin: 0;
}

/* .task {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30%;
} */

/* .discription {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 50%;
    
} */
#box .top,
#box .bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1rem;
    
}
.delete {
    backdground: url('../assests/delete.png')
    display: flex;

}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #818182;
}

.total {
    color: #818182;
    font-size: 0.875rem;
}

button.add {
    outline: none;
    border: none;
    background-color: #2BBCF0;
    box-shadow: 0 0 15px #9ad2e7;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

button.add svg {
    fill: #fff;
    width: 30px !important;
    height: 30px !important;
}